name: 'Nixpkgs health checks'
on:
  workflow_call:
    inputs:
      pname:
        required: true
        type: string

jobs:
  hydra:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      # Using `--eval` to check all platforms. See https://github.com/bryango
      - name: Run hydra-check
        run: |
          nix develop --command hydra-check --json --channel=nixpkgs-unstable --eval \
            '${{ inputs.pname }}' | tee raw.json
      - name: Normalize the result
        run: |
          jq --from-file normalize-hydra-eval.jq raw.json | tee normalized.json
      - name: Check and report if found errors
        run: |
          if jq -e '.[] | select(.severity == "error")' normalized.json | tee errors.json; then
            exit 1
          fi

  nixpkgs-update:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          # Enable accept-flake-config for using the garnix
          extra_nix_config: |
            sandbox = true
            accept-flake-config = true
      - run: |
          nix run 'github:kachick/nixpkgs-update-log-checker' -- --packages '${{ inputs.pname }}'
